@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
	html {
		scroll-behavior: smooth;
		scroll-padding-top: 6rem;
	}
}

/* vintage theme */
@font-face {
	font-family: 'Abril Fatface';
	src: url('/fonts/AbrilFatface.ttf');
	font-display: swap;
}